body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 20px;
    height: 70vh;
}

.search {
    width: 20%
}

.results {
    background-color: silver;
    width: 80%;
}

h1,
h2 {
    text-align: center;
}